@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@font-face{
    font-family: ats;
    src: url(/assets/fonts/BubblerOne-Regular.ttf);
    font-weight: 900;
}

/* general */
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
:root {
    --primary--color: #3796ad;
    --secondary--color: #fff;
}
a, a:active, a:focus, a:hover{
    text-decoration: none;
    color: unset;
}
.arrow {
    width: 40px;
    animation: 1.8s infinite upAndDown;
}

h2{
    color: var(--primary--color);
    /* text-transform: uppercase; */
    text-align: center;
    font-weight: 800;
}
.bg-withe{
    background-color: #fff;
}
.btn-primary{
    background-color: var(--primary--color) !important;
    transition: .5s all;
    border-color: var(--primary--color) !important;
}
.btn-primary:hover{
    background-color: var(--secondary--color) !important;
    color: var(--primary--color);
    border-radius: 50px;
}
.divider{
    height: 20vh;
    width: 100%;
    background-color: transparent;
}

/* header */
.header{
    height: 85vh;
    background-image: linear-gradient(#01010169, #010101a1), url('../img/header-bg_2com.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--secondary--color);
}
@media(min-width: 768px){
    .header__infocontainer{
        padding-right: 100px;
    }
}
.header__logo{
    max-width: 200px;
    min-width: 60px;
    height: auto;
}

/* main section */
.main{
    background-image: linear-gradient(#ffffff85, #ffffffef), url('../img/bg.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.rounded-img{
    border-radius: 40px;
}
.info__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

/* footer */
ul { 
    list-style: none;
}
ul, li{
    margin:0 0 0 0;
    padding:0 0 0 0;
}
footer div ul li a{
    color: var(--secondary--color);
}
footer{
    background: linear-gradient(0deg, rgba(55,150,173,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
}
/* efects */
@keyframes upAndDown {
    0% {margin-top: -5px;}
    50%{margin-top: 5px ;}
    100%{margin-top: -5px;}
}